<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用TaskReviewer</title>
	<script src="http://www.ehsy.com/mall/view/plugins/jquery/jquery-3.1.1.min.js"></script>
</head>
<body>
    <h1> 欢迎使用TaskReviewer </h1>
    <p class="date"> 今天是 {{ date }} {{ week_day }}</p>
    <div id="total_progress" class="task">
        <p class="hd">总任务进度：</p>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>已学次数</th>
                <th>上次结束</th>
                <th>本次开始</th>
                <th>进度条</th>
            </tr>
            {% for item in all_tasks %}
            <tr>
                <td class="num"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.learned_times }}</td>
                <td>{{ item.last_time }}</td>
                <td>{{ item.next_begin_time }}</td>
                <td>{{ item.progress }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="review_yesterday" class="task">
        {% if review_yesterday %}
            <form method="POST" action="{{ url_for('review_process') }}" >
                <p class="hd">昨日新学内容复习：</p>
                <table border="1">
                    <input type="submit" value="提交">
                    <tr>
                        <th>序号</th>
                        <th>总任务名称</th>
                        <th>子任务名称</th>
                        <th>已复习次数</th>
                        <th>应复习时间</th>
                        <th>&nbsp;&nbsp; </th>
                    </tr>
                    {% for item in review_yesterday %}
                    <tr>
                        <td class="num"></td>
                        <td>{{ item.t_name }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.learned_times }}</td>
                        <td>{{ item.next_begin_time }}</td>
                        <td><input type="checkbox" name="reviewed" value="{{ item.id }}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
         {% else %}
            <p class="hd"> ~~~无需要复习的新学内容~~~ </p>
         {% endif %}
    </div>

    <div id="new_learned" class="task">
        <p class="hd">今日新学内容输入：</p>
        <form method="POST" action="{{ url_for('new_learn_process') }}" >
            <table border="1">
                <tr>
                    <th>序号</th>
                    <th colspan="2">总任务名称</th>
                    <th>子任务名称</th>
                    <th>进度增加到</th>
                    <th>&nbsp</th>
                </tr>
                <tbody id="add_body">
                    <tr>
                        <td class="num"></td>
                        <td>
                            <select name="total_task_id"  class="ipt">
                                <option value="0" > 其它: </option>
                                {% for item in all_tasks %}
                                <option value="{{ item.id }}" >{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" class="ipt" name="other_total_task_name"></td>
                        <td><input type="text" class="ipt" name="sub_task_name"></td>
                        <td><input type="text" class="ipt" name="progress"></td>
                        <td><button type="button" class="btn btn-del">移除</button></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="提交">
        </form>
		<script type="text/template" id="add_tpl">
            <tr>
                <td class="num"></td>
                <td>
                    <select name="total_task_id"  class="ipt">
                        <option value="0" > 其它: </option>
                        {% for item in all_tasks %}
                        <option value="{{ item.id }}" >{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="text" class="ipt" name="other_total_task_name"></td>
                <td><input type="text" class="ipt" name="sub_task_name"></td>
                <td><input type="text" class="ipt" name="progress"></td>
                <td><button type="button" class="btn btn-del">移除</button></td>
            </tr>
		</script>
		<button type="button" class="btn btn-add mt5">+添加</button>
    </div>

    <div id="display_new_learned" >
        {% if today_learned %}
            <p>今日已学习内容(请于当日及时复习)</p>
            <form method="POST" action="{{ url_for('new_learn_for_review') }}" >
                <table border="1">
                    <input type="submit" value="提交11">
                    <tr>
                        <th>序号</th>
                        <th>总任务名称</th>
                        <th>子任务名称</th>
                        <th>当日复习</th>
                    </tr>
                    {% for item in today_learned %}
                    <tr>
                        <td class="num"></td>
                        <td>{{ item.total_task_name }}</td>
                        <td>{{ item.name }}</td>
                        <td><input type="checkbox" name="new_reviewed" value="{{ item.id }}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
        {% endif %}
    </div>

    <div id="review_others">
       {% if other_need_review %}
            <form method="POST" action="{{ url_for('review_process') }}" >
                <p class="hd">之前需要复习的内容：</p>
                <table border="1">
                     <input type="submit" value="提交">
                    <tr>
                        <th>序号</th>
                        <th>总任务名称</th>
                        <th>子任务名称</th>
                        <th>已复习次数</th>
                        <th>应复习时间</th>
                        <th>&nbsp;&nbsp; </th>
                    </tr>
                    {% for item in other_need_review %}
                    <tr>
                        <td class="num"></td>
                        <td>{{ item.t_name }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.learned_times }}</td>
                        <td>{{ item.next_begin_time }}</td>
                        <td><input type="checkbox" name="reviewed" value="{{ item.id }}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
         {% else %}
            <p class="hd"> ~~~都复习完啦~~~ </p>
         {% endif %}
    </div>

</body>
<script>
$(function(){
	//新增行
	$('.btn-add').click(function(){
		var str = $('#add_tpl').html();
		$('#add_body').append(str);
		renderAction();
		renderNum();
	})
	renderAction();
	renderNum();
})
//重新渲染删除
function renderAction() {
	$('.btn-del').off('click').click(function(){
		$(this).parent().parent().remove();
		renderNum();
	});
	
}
//重新渲染序号
function renderNum() {
	$('table').each(function(index,e){
		$(this).find('tr .num').each(function(index2,e2){
		    $(this).html(index2+1)
        })
	})
}
</script>
<style>
* {margin:0;padding:0;box-sizing: border-box;}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
body {background:#f5f6f7;color: #000;font:13px/1.5 PingFang SC,"Microsoft Yahei",verdana;text-align:center; }
a,
a:link,
a:visited,
a:hover,
a:focus  { text-decoration:none;}
a:focus {outline-style:none; -moz-outline-style: none;}  
.mt5 { margin-top: 5px !important; }
.main {
	width:1080px;
	margin:0 auto;
	padding:20px 40px;
	background:#FFF;
	text-align:left;
}
h1 {
	text-align:center;
	font-size:30px;
	font-weight:bold;
}
.date {
	text-align:center;
	font-size:16px;
}
.task {
	margin:20px 0 0 0;
}
.task .hd {
	font-size:20px;
	margin:0 0 10px;
	font-weight:bold;
}
.task table td,
.task table th {
	border:1px solid #999;
	padding:5px 10px;
	font-size:14px;
	text-align:center;
}
.task tr:nth-child(even){
    background:#e1e5e8;
}
.task tr:nth-child(odd){
    background:#fff;
}
.btn {
	border:none;
	background:#009cfa;
	color:#FFF;
	padding:6px 15px;
	border-radius:30px;
}
.ipt {
	width:100px;
	border:1px solid #DDD;
	padding:2px 5px;
}
</style>
</html>