{% extends "layout.html" %}
{% block title %} 学习计划(进行中) {% endblock %}
{% block date %} 欢迎使用TaskReviewer，今天是 {{ date }} {{ week_day }} {% endblock %}
{% block link1 %}
    <a href="{{ url_for('my_tasks') }}">待办事项</a>
{% endblock %}
{% block link2 %}
    <a href="{{ url_for('already_done') }}">学习计划(已完成)</a>
{% endblock %}

{% block contents %}
    {% if all_tasks %}
    <div id="total_progress" class="task">
        <p class="hd">总任务进度：</p>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>已学次数</th>
                <th>本次开始</th>
                <th>进度(%)</th>
                <th>状态信息</th>
            </tr>
            {% for item in all_tasks %}
            <tr>
                <td class="num"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.learned_times }}</td>
                <td class="time" time="{{ item.next_begin_time }}">{{ item.next_begin_time }}</td>
                <td>{{ item.progress }}</td>
                <td class="info"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if review_yesterday %}
    <div id="review_yesterday" class="task">
        <form method="POST" action="{{ url_for('review_process') }}" >
            <p class="hd">昨日新学内容复习：<button type="submit" class="btn">提交</button> </p>
            <table border="1">
                <tr>
                    <th>序号</th>
                    <th>总任务名称</th>
                    <th>子任务名称</th>
                    <th>已复习次数</th>
                    <th>应复习时间</th>
                    <th>&nbsp;&nbsp; </th>
                </tr>
                {% for item in review_yesterday %}
                <tr>
                    <td class="num"></td>
                    <td>{{ item.t_name }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.learned_times }}</td>
                    <td>{{ item.next_begin_time }}</td>
                    <td><input type="checkbox" name="reviewed" value="{{ item.id }}"></td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    {% endif %}

    <div id="new_learned" class="task">
        <form method="POST" action="{{ url_for('new_learn_process') }}" onsubmit="return submitNew()">
        <p class="hd">今日新学内容输入： <input type="submit" class="btn" value="提交"> </p>
            <table border="1">
                <tr>
                    <th>序号</th>
                    <th colspan="2">总任务名称</th>
                    <th>子任务名称</th>
                    <th>进度增加</th>
                    <th>&nbsp</th>
                </tr>
                <tbody class="add_line">
                    <tr>
                        <td class="num"></td>
                        <td>
                            <select name="total_task_id"  class="select">
                                <option value="0" > 其它: </option>
                                {% for item in all_tasks %}
                                <option value="{{ item.id }}" >{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" class="ipt" name="other_total_task_name"></td>
                        <td><input type="text" class="ipt" name="sub_task_name"></td>
                        <td><input type="text" class="ipt2" name="progress"></td>
                        <td><button type="button" class="btn btn-del">移除</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
		<script type="text/template" class="add_content">
            <tr>
                <td class="num"></td>
                <td>
                    <select name="total_task_id"  class="select">
                        <option value="0" > 其它: </option>
                        {% for item in all_tasks %}
                        <option value="{{ item.id }}" >{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="text" class="ipt" name="other_total_task_name"></td>
                <td><input type="text" class="ipt" name="sub_task_name"></td>
                <td><input type="text" class="ipt2" name="progress"></td>
                <td><button type="button" class="btn btn-del">移除</button></td>
            </tr>
		</script>
		<button type="button" class="btn btn-add mt5">+添加</button>
    </div>

    {% if today_learned %}
    <div id="display_new_learned" class="task">
        <form method="POST" action="{{ url_for('new_learn_for_review') }}" >
        <p class="hd">今日已学习内容(请于当日及时复习)  <input type="submit" class="btn" value="提交"></p>
            <table border="1">
                <tr>
                    <th>序号</th>
                    <th>总任务名称</th>
                    <th>子任务名称</th>
                    <th>当日复习</th>
                </tr>
                {% for item in today_learned %}
                <tr>
                    <td class="num"></td>
                    <td>{{ item.total_task_name }}</td>
                    <td>{{ item.name }}</td>
                    <td><input type="checkbox" name="new_reviewed" value="{{ item.id }}"></td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    {% endif %}

    {% if other_need_review %}
    <div id="review_others" class="task">
        <form method="POST" action="{{ url_for('review_process') }}" >
            <p class="hd">之前需要复习的内容：<button type="submit" class="btn" >提交</button></p>
            <table border="1">
                <tr>
                    <th>序号</th>
                    <th>总任务名称</th>
                    <th>子任务名称</th>
                    <th>已复习次数</th>
                    <th>应复习时间</th>
                    <th>&nbsp;&nbsp; </th>
                </tr>
                {% for item in other_need_review %}
                <tr>
                    <td class="num"></td>
                    <td>{{ item.t_name }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.learned_times }}</td>
                    <td>{{ item.next_begin_time }}</td>
                    <td><input type="checkbox" name="reviewed" value="{{ item.id }}"></td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    {% endif %}

{% endblock %}

